[submodule "external/lua"]
	path = external/lua
	url = git@github.com:rangercyh/lua5.1.git
[submodule "external/audeo"]
	path = external/audeo
	url = git@github.com:NotAPenguin0/audeo.git
[submodule "external/sdl-mixer"]
	path = external/sdl-mixer
	url = git@github.com:libsdl-org/SDL_mixer.git
[submodule "external/sdl"]
	path = external/sdl
	url = git@github.com:libsdl-org/SDL.git
